@page
@model ZewailCiryScienceWeek.Pages.Visitor.buyticketModel
@{
}
<div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Book a Ticket</h1>
                    </div>
                    <<form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-label">Name</span>
                                    <input class="form-control" type="text" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-label">Email</span>
                                    <input class="form-control" type="email" placeholder="Enter your email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="form-label">Phone</span>
                            <input class="form-control" type="tel" placeholder="Enter your phone number">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Ticket Type</label>
                            <div class="select">
                                <select class="form-control">
                                    <option value="" selected disabled>Select ticket type</option>
                                    <option value="vip">VIP</option>
                                    <option value="zewailian">Zewailian Ticket</option>
                                    <option value="regular">Regular Ticket</option>
                                </select>
                                <span class="select-btn">
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label"> Attended Day </label>
                            <div class="select">
                                <select class="form-control">
                                    <option value="" selected disabled>Select Your Prefered Day </option>
                                    <option value="Day1">Day1</option>
                                    <option value="Day2">Day2</option>
                                    <option value="Day3">Day3</option>
                                <option value="Day4">Day4</option>
                                <option value="Day5">Day5</option>
                                <option value="Day6">Day6</option>
                                <option value="Day7">Day7</option>
                                </select>
                                <span class="select-btn">
                                    <i class="zmdi zmdi-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="form-label"> Payment Method </label>
                        <div class="select">
                            <select class="form-control">
                                <option value="" selected disabled>Select Your Payment Method </option>
                                <option value="Fawry">Fawry</option>
                                <option value="Bank">Bank</option>
                             
                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-btn">
                        <button class="submit-btn">Book Now</button>
                    </div>
                    </form>>
                </div>
            </div>
        </div>
    </div>
</div>
