@page
@model ZewailCiryScienceWeek.Pages.Visitor.editticketModel
@{
}
<div class="section-center">
    <div class="container">
        <div class="row">
            <div class="booking-form">
                <div class="form-header">
                    <h1>Edit Your Ticket Here </h1>
                </div>
                <<form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="form-label">Name</span>
                                <input class="form-control" type="text" placeholder="John Duo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="form-label">Email</span>
                                <input class="form-control" type="email" placeholder="John00@gmail.com">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="form-label">Phone</span>
                        <input class="form-control" type="tel" placeholder=" +9067374654 ">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Ticket Type</label>
                        <div class="select">
                            <select class="form-control">
                                <option value="" selected disabled>VIP</option>
                                <option value="vip">VIP</option>
                                <option value="zewailian">Zewailian Ticket</option>
                                <option value="regular">Regular Ticket</option>
                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"> Attended Day </label>
                        <div class="select">
                            <select class="form-control">
                                <option value="" selected disabled> Day4 </option>
                                <option value="Day1">Day1</option>
                                <option value="Day2">Day2</option>
                                <option value="Day3">Day3</option>
                                <option value="Day4">Day4</option>
                                <option value="Day5">Day5</option>
                                <option value="Day6">Day6</option>
                                <option value="Day7">Day7</option>
                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"> Payment Method </label>
                        <div class="select">
                            <select class="form-control">
                                <option value="" selected disabled>Fawry </option>
                                <option value="Fawry">Fawry</option>
                                <option value="Bank">Bank</option>

                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-btn">
                        <button class="btn-success">Save Changes</button>

                    </div>


                </form>>
            </div>
        </div>
    </div>
</div>
</div>
