@page
@model ZewailCiryScienceWeek.Pages.Admin.PromotableModel
@{
    Layout = "_LayoutAdmin";
}


<header id="header" class="d-flex align-items-center p-4 ">
    <div class="container-fluid container-xxl d-flex align-items-center justify-content-between navbar order-last order-lg-0" id="navbar">

        <div id="logo">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="index.html" class="scrollto"><img src="~/img/MainPagePic/Artboard 3 (1).png" alt="" title=""></a>
        </div>
        <ul>
            <li><a class="nav-link scrollto" href="/Index">Home</a></li>
            <li><a class="nav-link scrollto" href="/Admin/visitor">Visitors Info</a></li>
            <li><a class="nav-link scrollto" href="/Admin/tickets">Tickets</a></li>
            <li><a class="select-control buy-tickets scrollto nav-link" href="#supporters">Promo Codes</a></li>
            <li><a class="nav-link scrollto" href="/Admin/AdminMain">Admin</a></li>
        </ul>
        <!--=====================================================-->


        <i class="bi bi-list mobile-nav-toggle"></i>

    </div>


</header>

<section class="form-body">    
<div id="layoutSidenav">
        <div id="layoutSidenav_content" style="background-color:#E5EBEB ">
           
                <div class="container-fluid px-4">
                <div class="mt-4" style="padding-top: 40px;">
                <h1 class="mt-4" style= "display: inline; padding: 5px; color:#023b3d ;text-transform: uppercase;">Promo Codes</h1>
                
                <h1>
                     <a href="/Admin/promocode">
                         <button class="btn btn-primary-promo" type = "button" background-color:#023b3d> Add A New Promo Code</button>
                         </a>
                </h1>

                </div>
                        <div class="card-body">
                    <table id="datatablesSimple" style="color:white; background-color:#4D7577  ">
                                <thead>
                                    <tr style="text-transform: uppercase">
                                            <th>Promo Code</th>
                                            <th>Discount Percentage</th>
                                            <th>Number Of Tickets Offered</th>
                                            <th>Assigned To</th>
                                            <th>Type</th>
                                            <th>Remaining </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        
                                            <th>Promo Code</th>
                                            <th>Discount Percentage</th>
                                            <th>Number Of Tickets Offered</th>
                                            <th>Assigned To</th>
                                            <th>Type</th>
                                            <th>Remaining </th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>ZCstudents</td>
                                        <td>50</td>
                                        <td>70</td>
                                        <td>Zewail Students</td>
                                        <td>Regular</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td>Person10</td>
                                        <td>20</td>
                                        <td>30</td>
                                        <td>person</td>
                                        <td>Regular</td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <td>ZCstudents</td>
                                        <td>50</td>
                                        <td>70</td>
                                        <td>Zewail Students</td>
                                        <td>Regular</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td>Person10</td>
                                        <td>20</td>
                                        <td>30</td>
                                        <td>person</td>
                                        <td>Regular</td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <td>ZCstudents</td>
                                        <td>50</td>
                                        <td>70</td>
                                        <td>Zewail Students</td>
                                        <td>Regular</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td>Person2</td>
                                        <td>10</td>
                                        <td>40</td>
                                        <td>person2</td>
                                        <td>Group</td>
                                        <td>20</td>
                                    </tr>
                                    <tr>
                                        <td>Person10</td>
                                        <td>20</td>
                                        <td>30</td>
                                        <td>person</td>
                                        <td>Regular</td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <td>Person2</td>
                                        <td>10</td>
                                        <td>40</td>
                                        <td>person2</td>
                                        <td>Group</td>
                                        <td>20</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<style>
    table {
        background-color: #E5EBEB  ;
    }
    h1{
        padding: 5px; 
        color: #E5EBEB  ;

    }
    label{
        color :#E5EBEB  ;
    }
    div {
        color :#023b3d ;
    }
</style>

                                        