@page
@model projecttt.Pages.ticketsModel
@{
    Layout = "_LayoutAdmin";
}



<section>   
<div id="layoutSidenav">
        <div id="layoutSidenav_content">
           
                <div class="container-fluid px-4">
                <div class="mt-4" style="padding-top: 50px;">
                <h1 class="mt-4" style= "display: inline; padding: 5px; color:darkslategray ;text-transform: uppercase;">Tickets</h1>
                </div>

                        <div class="card-body">
                            <table id="datatablesSimple" style="color:Black; background-color:lightslategray">
                                <thead>
                                    <tr style="text-transform: uppercase">
                                            <th>Name</th>
                                            <th>Ticket ID</th>
                                            <th>Type</th>
                                            <th>Capacity</th>
                                            <th>Day</th>
                                            <th>Status</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                            <th>Ticket ID</th>
                                            <th>Type</th>
                                            <th>Capacity</th>
                                            <th>Day</th>
                                            <th class="col-remove">Status</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>#233</td>
                                        <td>Regular</td>
                                        <td>1</td>
                                        <td>Sunday</td>
                                        <td><button class="btn-remove" onclick="removeRow(this)">-</button></td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td>#456</td>
                                        <td>Group</td>
                                        <td>3</td>
                                        <td>Tuesday</td>
                                        <td><button class="btn-remove" onclick="removeRow(this)">-</button></td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>#257</td>
                                        <td>Regular</td>
                                        <td>1</td>
                                        <td>Monday</td>
                                        <td><button class="btn-remove" onclick="removeRow(this)">-</button></td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>#193</td>
                                        <td>VIP</td>
                                        <td>1</td>
                                        <td>Sunday</td>
                                        <td><button class="btn-remove" onclick="removeRow(this)">-</button></td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>#575</td>
                                        <td>Group</td>
                                        <td>5</td>
                                        <td>Saturday</td>
                                        <td><button class="btn-remove" onclick="removeRow(this)">-</button></td>
                                    </tr>
                                    <tr>
                                        <td>Brielle Williamson</td>
                                        <td>#458</td>
                                        <td>New York</td>
                                        <td>61</td>
                                        <td>Wednesday</td>
                                        <td><button class="btn-remove" onclick="removeRow(this)">-</button></td>
                                    </tr>
                                    <tr>
                                        <td>Winters Garrett</td>
                                        <td>#126</td>
                                        <td>Group</td>
                                        <td>3</td>
                                        <td>Tuesday</td>
                                        <td><button class="btn-remove" onclick="removeRow(this)">-</button></td>
                                    </tr>
                                    <tr>
                                        <td>Nixon Winters</td>
                                        <td>#399</td>
                                        <td>Regular</td>
                                        <td>1</td>
                                        <td>Monday</td>
                                        <td><button class="btn-remove" onclick="removeRow(this)">-</button></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<style>
    table {
        background-color: gr;
    }
    h1{
        padding: 5px; 
        color: black;

    }
    label{
        color :black;
    }
    div {
        color : black;
    }
    .btn-remove {
        border: 2px solid black; /* set border to black */
        border-radius: 50%; /* make the button circular */
        width: 30px; /* set the button width */
        height: 30px; /* set the button height */
        font-size: 16px; /* set the font size */
        color: black; /* set the font color to black */
        background-color: white; /* set the background color to white */
        cursor: pointer; /* set the cursor to pointer when hovering */
    }

    .col-remove {
        text-align: center;
    }

    .btn-remove:hover {
        background-color: black; /* change the background color when hovering */
        color: white; /* change the font color when hovering */
    }
</style>
<script>
    function removeRow(button) {
        var result = confirm("Are you sure you want to remove this row?");
        if (result) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    }
</script>

                                        