@page
@model projecttt.Pages.visitorModel
@{
}
@{
    Layout = "_LayoutAdmin";
}


<header id="header" class="d-flex align-items-center p-4 ">
    <div class="container-fluid container-xxl d-flex align-items-center justify-content-between navbar order-last order-lg-0" id="navbar">

        <div id="logo">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="index.html" class="scrollto"><img src="~/img/MainPagePic/Artboard 3 (1).png" alt="" title=""></a>
        </div>
        <ul>
            <li><a class="nav-link scrollto" href="/Index">Home</a></li>
            <li><a class="select-control buy-tickets scrollto nav-link" href="#supporters">Visitore Info</a></li>
            <li><a class="nav-link scrollto" href="/Admin/visitor">Tickets</a></li>
            <li><a class="nav-link scrollto" href="/Admin/tickets">Add Promo Code</a></li>
            <li><a class="nav-link scrollto" href="/Admin/promocode">Admin</a></li>
        </ul>
        <!--=====================================================-->


        <i class="bi bi-list mobile-nav-toggle"></i>

    </div>


</header>



<div class="section-wrapper">
    <section class="m-4 p-5">
        <h1 class="h_visitor">Visitors Info</h1>
   
    <table class=" visitor_table" style="width: 100%; margin: 0 auto;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Age</th>
                <th scope="col">National ID</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Gender</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>20</td>
                <td>2653940763</td>
                <td>Mark@hotmail</td>
                <td>3632832</td>
                <td>Male</td>
                <td>
                    <button class="edit-btn" onclick="showEditPopup(this)">Edit</button>
                    <button class="delete-btn" onclick="showDeletePopup()">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>20</td>
                <td>2653940763</td>
                <td>Mark@hotmail</td>
                <td>3632832</td>
                <td>Male</td>
                <td>
                    <button class="edit-btn" onclick="showEditPopup(this)">Edit</button>
                    <button class="delete-btn" onclick="showDeletePopup()">Delete</button>
                </td>
            </tr>
                        <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>20</td>
                <td>2653940763</td>
                <td>Mark@hotmail</td>
                <td>3632832</td>
                <td>Male</td>
                <td>
                    <button class="edit-btn" onclick="showEditPopup(this)">Edit</button>
                    <button class="delete-btn" onclick="showDeletePopup()">Delete</button>
                </td>
            </tr>

    </tbody>
    </table>
    <!-- Edit Popup -->
<div class="edit-popup" id="editPopup">
            <h1 class="h_visitor">Edit User</h1>
    <form>
        <tr>
            <input type="text" id="editFirst" placeholder="First">
            <input type="text" id="editLast" placeholder="Last">
        </tr>
        <tr>
            <input type="text" id="editAge" placeholder="Age">
            <input type="text" id="editNationalID" placeholder="National ID">
            </tr>
        <tr>
            <input type="text" id="editEmail" placeholder="Email">
            <input type="text" id="editNumber" placeholder="Phone Number">
        </tr>
         <tr>
            
            <button type="button" class="btn btn-secondary" onclick="saveEdit()">Save</button>
            <button type="button" class="btn btn-dark" onclick="cancelEdit()">Cancel</button>
         </tr>
    </form>
    
   
</div>


    <!-- Delete Popup -->
    <div class="delete-popup" id="deletePopup">
        <h3>Are you sure you want to delete these data?</h3>
        <button type="button" class="btn btn-secondary" onclick="confirmDelete()()">Yes</button>
        <button type="button" class="btn btn-dark" onclick="cancelDelete()">Cancel</button>
    </div>
</section>
</div>
<script>
    var currentEditRow = null;

    function showEditPopup(button) {
        var row = button.parentNode.parentNode;
        currentEditRow = row;
        var cells = row.cells;
        var first = cells[1].textContent;
        var last = cells[2].textContent;
        var age = cells[3].textContent;
        var national = cells[4].textContent;
        var email = cells[5].textContent;
        var number = cells[6].textContent;

        document.getElementById('editFirst').value = first;
        document.getElementById('editLast').value = last;
        document.getElementById('editAge').value = age;
        document.getElementById('editNationalID').value = national;
        document.getElementById('editEmail').value = email;
        document.getElementById('editNumber').value = number;

        document.getElementById('editPopup').style.display = 'block';
    }

    function saveEdit() {
        var first = document.getElementById('editFirst').value;
        var last = document.getElementById('editLast').value;
        var age = document.getElementById('editAge').value;
        var national = document.getElementById('editNationalID').value;
        var email = document.getElementById('editEmail').value;
        var number = document.getElementById('editNumber').value;

        currentEditRow.cells[1].textContent = first;
        currentEditRow.cells[2].textContent = last;
        currentEditRow.cells[3].textContent = age;
        currentEditRow.cells[4].textContent = national;
        currentEditRow.cells[5].textContent = email;
        currentEditRow.cells[6].textContent = number;

        document.getElementById('editPopup').style.display = 'none';
    }

    function cancelEdit() {
        document.getElementById('editPopup').style.display = 'none';
    }

    function showDeletePopup() {
        document.getElementById('deletePopup').style.display = 'block';
    }

    function confirmDelete() {
        var row = currentEditRow;
        row.parentNode.removeChild(row);
        document.getElementById('deletePopup').style.display = 'none';
    }

    function cancelDelete() {
        document.getElementById('deletePopup').style.display = 'none';
    }
</script>


<style>
    body {
        text-align: center;
    }

    h1.h_visitor {
        margin: 30px auto; /* Add margin to create space between the title and the table */
        text-align: center;
        color: white;
        background-color: black;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        font-size: 20px;
        width: 30%;
       
    }

    h_visitor{
        color: white;
        background-color: black;
        margin: 50px auto;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px; /* Increase the padding to add more space */
        font-size: 24px; /* Increase the font size */
    }

    visitor_table {
        margin-top:20px;
        border-collapse: collapse;
        width: 80%;
        margin: 100px auto;
        background-color: lightgray; /* Change the background color of the table */
        color: black; /* Change the text color */
       
    }


    .thead-dark th {
        background-color: black; /* Change the background color of the table header */
        color: coral; /* Change the text color in the table header */
        text-transform: uppercase;
    }


    .custom-table input[type="text"] {
        background-color: #e6e6e6; /* Set the background color of text boxes */
        border:  #cccccc;
 
    }



    th,
    td {
        border: 1px solid black;
        padding: 8px;
        font-weight: bold;

    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .edit-popup,
    .delete-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: darksalmon;
       
        padding: 20px;
        border: 1px solid #ccc;
        z-index: 1;
    }

        .edit-popup input {
            margin-bottom: 10px;
        }

        .edit-popup button {
            margin-right: 5px;
        }

    .delete-popup {
        text-align: center;
    }

        .delete-popup button {
            margin: 10px;
        }
</style>