@page
@model ZewailCiryScienceWeek.Pages.MainPages.conferenceModel
@{
    Layout = "_LayoutOFMainPageForDifferetUser";
}

<!-- ======= Conference Header Section ======= -->
<section id="hero">
<div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">The Annual<br><span>Zewail City</span> Conference</h1>
    <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
    <a href="#about" class="about-btn scrollto" style="color:#fff">Apply Now </a>
</div>
</section>
<!-- ======= Conference Header Section ======= -->
<section class="p-4 m-4 ">
    <div class="section-title">
        <h2 class="text-center">About Aewail City Science Week</h2>

    </div>
    <div class="card mb-5 ">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="/img/MainPagePic/Conference/converence.jfif">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">About Zewail city Conference</h3>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-5">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="/img/MainPagePic/Conference/Con2.jfif">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">What Is Our Goal</h3>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-5">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="/img/MainPagePic/Conference/Con2.jfif">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">How Can You Apply</h3>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <li><a class="text-muted  btn about-btn" href="/Researcher/applyfor">Apply With Your Papper Now</a></li>
    </div>

</section>