@page
@model ZewailCiryScienceWeek.Pages.MainPages.TeamModel
@{
    string [] committees = { "committee1", "committee2", "committee3 ", "committee4 ", "committee5 ", "committee 6", "committee7", "committee8 " };
}
<!-- ======= Speakers Header Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">The Team For<br><span>Zewail City</span> Science Featival</h1>
        <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
    </div>
</section>
<!-- ======= Speakers Header Section ======= -->
<section class="m-4 p-5">
    <div class="section-title">
        <h2>Our Expert Team</h2>
    </div>
    <section class="differentCommites">
        @for(int i = 0; i < committees.Length; i++)
        {

            <section class="section-title shadow p-3 mb-5 bg-white rounded">
                <h2 >@committees[i] Committee</h2>
                <div class="row justify-content-center">
                    <div class="col-md">
                        <h2>Committe Head Name</h2>
                        <img class="w-25" src="/img/MainPagePic/Team.png" />
                    </div>
                    <div class="col-md">
                        <h2>Committe Vice Head Name</h2>
                        <img class="w-25"src="/img/MainPagePic/Team.png" />
                    </div>
                </div>
                <h2 class="mt-3">Committe Members</h2>
                <div class="row justify-content-between mb-4">
                    @for(int j = 0; j < 6; j++)
                    {
                        <div class="col-md ">
                            <img class="w-75"src="/img/MainPagePic/Team.png"/>
                        </div>
                    }
                </div>
            </section>


        }
    </section>

</section>