@page
@model ZewailCiryScienceWeek.Pages.Anaylitic.AnalysisModel
@{
    Layout = "_LayoutOFMainPageForDifferetUser";
}
<!--======================Header MAin Page=================================-->
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">The Analysis<br><span> for Zewail City</span> Science Week</h1>
        <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
    </div>
</section><!-- End Hero Section -->
<!--======================Header MAin Page=================================-->
<section class="Payment m-4 p-5 ">
    <h2 class="section-title"> Payment analysis</h2>
    <section class="PaymentCalc">
        <section class="row">
            <section class="col-md-4">
            <canvas id="chart1" width="500" height="400" style="background-color:#fff">
                </canvas>
            </section>
            <section class="col-md-4">
                <canvas id="chart2" width="500" height="400" style="background-color:#fff"></canvas>

            </section>
            <section class="col-md-4">
                <canvas id="chart3" width="500" height="400" style="background-color:#fff"></canvas>

            </section>
         

        </section>
    </section>
</section>
    <section class="Visitors m-4 p-5">

         <h2 class="section-title"> Visitors analysis</h2>
        <section class="PaymentCalc ">
            <section class="row">
                <section class="col-md-5">
                <canvas id="chart4" width="500" height="400" style="background-color:#fff">
                    </canvas>
                </section>
            <section class="col-md-5">
                    <canvas id="chart5" width="500" height="400" style="background-color:#fff"></canvas>

                </section>
            <section class="col-md-5">
                    <canvas id="chart6" width="500" height="400" style="background-color:#fff"></canvas>

                </section>
            <section class="col-md-5">
                    <canvas id="chart7" width="500" height="400" style="background-color:#fff"></canvas>

                </section>


        </section>
    </section>

</section>
  


